<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message|Dashboard</title>
</head>
<body>
    <p>{{data}}</p>
    {% for i in data %}
        {{i.name}}
        {{i.email}}<br>
    {% endfor %}
    <table border="1">
        <tr>
            <th>sr.no</th>
            <th>Name</th>
            <th>Email</th>
            <th>mobile</th>
            <th>message</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.msg}}</td>
            <td><a href="/edit/{{i.id}}">Edit</a></td>
            <td><a href="/delete/{{i.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>